{% for owner in houseowners %}
	<tr>
		<td>
			<a href="#!" class="badge bg-green-soft text-green">#{{ owner.vn_owner_id|safe}}</a>
		</td>
		<td>{{ owner.vn_fullname|safe }}</td>
		<td>{{ owner.vn_phonenumber_one|safe }} {% if owner.vn_phonenumber_two %}/{{ owner.vn_phonenumber_two }}{% endif %}</td>
		<td>{{ owner.houses.count()}}</td>
		<td>{{ owner.vn_created_at.date() }}</td>
		<td>{{ owner.vn_activated }}</td>
		<td>
			<a class="btn btn-datatable btn-icon btn-transparent-dark me-2" href="#"><i data-feather="edit"></i></a>

			<a class="btn btn-datatable btn-icon btn-transparent-dark" type="button" data-bs-toggle="modal" data-bs-target="#removeownerModal"><i data-feather="trash-2"></i></a>

			<div class="modal fade" id="removeownerModal" tabindex="-1" role="dialog" aria-labelledby="ownerModal" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="ownerModal">Retirer ce propritaire de maison ?</h5>
						</div>

						<div class="modal-body">
							Êtes-vous sur ?
						</div>

						<div class="modal-footer">
							<div class="row">
								<div class="col-xxl-6 d-grid">
									<button class="btn btn-danger text-uppercase" type="button" data-bs-dismiss="modal">
									Annuler</button>
								</div>

								<div class="col-xxl-6 d-grid">
									<a class="btn btn-success text-uppercase shadow-none" href="#!">Valider</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</td>
	</tr>
{% endfor %}