<template v-for="own in owners" :key="own.uuid">
	<tr v-show='own.uuid'>
		<td scope="row">
			<span class="badge bg-red text-white">#{ own.vn_owner_id }</span>
		</td>
		<td>{ own.vn_fullname } ({own.vn_phonenumber_one})</td>
		<td>{ own.amount.toLocaleString() } { own.devise }</td>
		<td>{ own.amount_repaid } { own.devise }</td>
		<td>{ own.number_houses }</td>
		<td>{ own.number_tenants }</td>
		<td>{ own.vn_created_at }</td>
		<td>
			<button @click.prevent="getOwner(own.uuid)" title="Détail information propriétaire" type="button" class="btn btn-datatable btn-icon me-2">
				<i class="text-secondary fa fa-eye"></i>
            </button>

			<button title="Télécharger le contrat de ce propriétaire" type="button" class="btn btn-datatable btn-icon me-2">
				<i class="text-green fa fa-download"></i>
            </button>

			<button title="Mettre à jour les informations de ce propriétaire" @click.prevent="updateOwnerConfirm(own)" class="btn btn-datatable btn-icon me-2">
				<i class="text-secondary fa fa-edit"></i>
			</button>

			<button title="Enregistrer un locataire pour ce propriétaire" @click.prevent="createOwnerTenantConfirm(own.uuid)" class="btn btn-datatable btn-icon me-2">
				<i class="text-success fa fa-user-plus"></i>
			</button>

			<button title="Supprimer ce propriétaire" @click.prevent="deleteOwnerConfirm(own.uuid)" class="btn btn-datatable btn-icon">
				<i class="text-danger fa fa-trash"></i>
			</button>
		</td>
	</tr>
</template>

{# modal delete owner #}
<div class="modal fade" data-bs-backdrop="static" id="deleteModal">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Confirmer la suppression de: #{owner.vn_owner_id}</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>

			<div class="modal-body">
				Êtes-vous sûr de vouloir supprimer le bailleur ?
			</div>

			<div class="modal-footer">
				<div class="row">
					<div class="col-6 d-grid">
						<button @click.prevent="ownerUUID = null; onDeleteOwner = false" class="btn btn-outline-primary text-uppercase shadow-none me-3" type="button" data-bs-dismiss="modal">
						Annuler</button>
					</div>

					<div class="col-6 d-grid">
						<button type="sumbit" @click.prevent="onDeleteOwner" class="btn btn-danger text-uppercase shadow-none">
						Oui</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{# modal owner detail #}
<div class="modal fade" data-bs-backdrop="static" id="detailModal">
	<div role="document" class="modal-dialog modal-fullscreen modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Bailleur: #{owner.vn_owner_id}</h4>
				<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
			</div>

			<div class="modal-body">
				<div class="row g-2">
					<div class="col-xl-3">
						<div class="card mb-4 mb-xl-0 shadow-none">
							<div class="card-header text-center">Information propriétaire</div>
							<div class="card-body text-center">
								<img loading="lazy" class="img-account-profile rounded-circle mb-2" src="{{ url_for('static', filename='img/element/avatar.png') }}" alt="{ owner.uuid }">
								<div class="py-2">
									<span>{ owner.vn_gender } { owner.vn_fullname } / { owner.vn_phonenumber_one }</span>
								</div>
								<div class="mb-4">
									<span>{ owner.vn_profession } - { owner.vn_location }</span>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-9">
						<div class="card shadow-none mb-4">
							<div class="card-header">Informations sur le compte</div>
							<div class="card-body px-0">
								<div class="d-flex align-items-center justify-content-between px-4">
									<div class="d-flex align-items-center">
                                        <i class="fa fa-dollar-sign fa-3x cc-color-visa"></i>
                                        <div class="ms-4">
                                            <div class="text-lg fw-700">{ owner.amount_repaid } { owner.devise }</div>
                                            <small>Montant à reverser</small>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <i class="fa fa-percent fa-3x cc-color-visa"></i>
                                        <div class="ms-4">
                                            <div class="text-lg fw-700">{ owner.vn_owner_percent }&#37;</div>
                                            <small>Votre pourcentage</small>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <i class="fa fa-dollar-sign fa-3x cc-color-visa"></i>
                                        <div class="ms-4">
                                            <div class="text-lg fw-700">{ owner.total_percent } { owner.devise }</div>
                                            <small>Votre part</small>
                                        </div>
                                    </div>
									<div class="d-flex align-items-center">
                                        <i class="fa fa-home fa-3x cc-color-visa"></i>
                                        <div class="ms-4">
                                            <div class="text-lg fw-700">{ owner.number_houses }</div>
                                            <small>Nombre de propriétés</small>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <i class="fa fa-users fa-3x cc-color-visa"></i>
                                        <div class="ms-4">
                                            <div class="text-lg fw-700">{ owner.number_tenants }</div>
                                            <small>Nombre de locataires</small>
                                        </div>
                                    </div>
								</div>
							</div>
						</div>

						<div class="card shadow-none mb-4">
							<div class="card-header">Liste des propriétés ({ owner.number_houses })</div>
							<div class="card-body px-0">
								<template v-for="house in owner.owner_houses" :key="house.uuid">
									<div class="d-flex align-items-center justify-content-between px-4">
										<div class="d-flex align-items-center">
											<i class="fa fa-home fa-1x text-muted"></i>
	                                        <div class="ms-4">
	                                            <div class="text-xs text-secondary">
	                                            	#{ house.vn_house_id } &smid; { house.vn_house_type } ({ house.vn_house_address }) &smid; Loyer: { house.vn_house_rent } { house.devise }/mois
	                                            </div>
	                                        </div>
	                                    </div>

	                                    <div class="ms-4 small">
	                                        <div :class="{'bg-red': house.vn_house_is_open, 'bg-blue': !house.vn_house_is_open}" class="badge text-white me-3 text-uppercase">{ house.house_status }</div>
	                                    </div>
									</div>
									<hr>
								</template>
							</div>
						</div>

						<div class="card shadow-none mb-4">
							<div class="card-header">Liste des locataires ({ owner.number_tenants })</div>
							<div class="card-body px-0">
								<template v-for="tenant in owner.owner_tenants" :key="tenant.uuid">
									<div class="d-flex align-items-center justify-content-between px-4">
										<div class="d-flex align-items-center">
											<i class="fa fa-user fa-1x text-muted"></i>
	                                        <div class="ms-4">
	                                            <div class="text-xs text-secondary">
	                                            	#{ tenant.vn_tenant_id } &smid; { tenant.vn_fullname } ({ tenant.vn_phonenumber_one }) &smid; Loyer: { tenant.house.vn_house_rent } { tenant.house.devise }/mois
	                                            </div>
	                                        </div>
	                                    </div>
									</div>
									<hr>
								</template>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="modal-footer">
				<button type="submit" class="btn btn-sm btn-danger shadow-none" data-bs-dismiss="modal">Fermer</button>
			</div>
		</div>
	</div>
</div>

{# modal edit owner #}
<div class="modal fade" data-bs-backdrop="static" id="editModal">
	<div class="modal-dialog modal-xl modal-dialog-centered">
		<div class="modal-content">
			<form>
				<div class="modal-header">
					<h4 class="modal-title">
						Mise à jour propriétaire : #{ownerData.vn_owner_id}
					</h4>
					<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
				</div>
				<div class="modal-body">
					{% include "tenant/fields/field_owner.html" %}
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-outline-primary shadow-none" data-bs-dismiss="modal">Annuler</button>
					<button data-bs-dismiss="modal" type="button" @click.prevent="onUpdateOwner" class="btn btn-success shadow-none">Mettre à jour</button>
				</div>
			</form>
		</div>
	</div>
</div>

{# modal owner add tenant #}
<div class="modal fade" data-bs-backdrop="static" id="addOwnerTenantModal">
	<div class="modal-dialog modal-xl modal-dialog-centered">
		<div class="modal-content">
			<form>
				<div class="modal-header">
					<h4 class="modal-title">
						Ajouter un locataire pour ce propriétaire
					</h4>
					<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
				</div>

				<div class="modal-body">
					<div class="nav nav-pills nav-justified nav-wizard" role="tablist">
						<div :class="{ active: currentStep === 1 }" class="nav-item nav-link p-3">
							<div class="wizard-step-icon">3</div>
							<div class="wizard-step-text">
								<div class="modal-title wizard-step-text-name fw-700">
									Locataire
								</div>
								<small class="wizard-step-text-details">Informations sur le locataire</small>
							</div>
						</div>

						<div :class="{ active: currentStep === 2 }" class="nav-item nav-link p-3">
							<div class="wizard-step-icon">2</div>
							<div class="wizard-step-text">
								<div class="modal-title wizard-step-text-name fw-700">
									Propriété
								</div>
								<small class="wizard-step-text-details">Informations sur la propriété</small>
							</div>
						</div>
					</div>

					<hr class="my-3">

					<div class="tab-content">
						<div :class="{ active: currentStep === 1 }"class="tab-pane fade show">
					        {% include "tenant/fields/field_tenant.html" %}
					    </div>

					    <div :class="{ active: currentStep === 2 }" class="tab-pane fade show">
					    	{% include "tenant/fields/field_house.html" %}
					    </div>
					</div>
				</div>

				<div class="row modal-footer justify-content-center">
					<div class="col-12">
						<div class="d-flex justify-content-between">
							<button :class="{ disabled: currentStep === 1 }" @click="prevStep" class="btn btn-light shadow-none" type="button">Précédent</button>
							<button v-if="currentStep < 2" @click="nextStep" class="btn btn-primary shadow-none" type="button">Suivant</button>
							<button v-if="currentStep === 2" @click="onCreateOwnerTenant" class="btn btn-success shadow-none" type="submit">Valider</button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
