<tr>
    <td scope="row">
        <span class="badge bg-red text-white">#{{ owner.vn_owner_id }}</span>
    </td>
    <td>{{ owner.vn_fullname }} ({{ owner.vn_phonenumber_one }})</td>
    <td>{{ owner.total_amount | format_amount }} {{ current_user.vn_devise }}</td>
    <td>{{ owner.amount_repaid | format_amount }} {{ current_user.vn_devise }}</td>
    <td>{{ owner.number_houses }}</td>
    <td>{{ owner.number_tenants }}</td>
    <td>{{ owner.vn_created_at.strftime('%Y-%m-%d') if owner.vn_created_at else 'N/A' }}</td>
    <td>
        <button title="Détail information propriétaire" type="button" class="btn btn-datatable btn-icon me-2">
            <i class="text-secondary fa fa-eye"></i>
        </button>

        <button title="Télécharger le contrat de ce propriétaire" type="button" class="btn btn-datatable btn-icon me-2">
            <i class="text-green fa fa-download"></i>
        </button>

        <button title="Mettre à jour les informations de ce propriétaire" class="btn btn-datatable btn-icon me-2">
            <i class="text-secondary fa fa-edit"></i>
        </button>

        <button title="Enregistrer un locataire pour ce propriétaire" class="btn btn-datatable btn-icon me-2">
            <i class="text-success fa fa-user-plus"></i>
        </button>

        <button title="Supprimer ce propriétaire" hx-delete="{{ url_for('api.delete_houseowner', uuid=owner.uuid) }}"
            hx-confirm="Êtes-vous sûr de vouloir supprimer ce propriétaire ? Cela supprimera aussi ses maisons et locataires."
            hx-target="closest tr" hx-swap="outerHTML" class="btn btn-datatable btn-icon">
            <i class="text-danger fa fa-trash"></i>
        </button>
    </td>
</tr>