<div class="tab-content">
    <div :class="{ active: currentStep === 1 }"class="tab-pane fade show">
        <div class="row gx-3 mb-3">
            <div class="col-6">
                <input placeholder="Nom &amp; prénoms" type="text" class="form-control" id="fullname" v-model="ownerData.fullname">
            </div>

            <div class="col-6">
                <input placeholder="Numéro de Carte Nationale d'Identité/Attestion/Passport" type="text" class="form-control" id="card_number" v-model.trim="ownerData.card_number">
            </div>
        </div>

        <div class="row gx-3 mb-3">
            <div class="col-6">
                <input @input="formatPhoneNumber(ownerData.phonenumber_one)" placeholder="Numéro de téléphone I" type="tel" class="form-control" id="phonenumber_one" v-model="ownerData.phonenumber_one" placeholder="01-5157-1393">
            </div>

            <div class="col-6">
                <input @input="formatPhoneNumber(ownerData.phonenumber_two)" placeholder="Numéro de téléphone II" type="tel" class="form-control" id="phonenumber_two" v-model="ownerData.phonenumber_two">
            </div>
        </div>

        <div class="row gx-3 mb-3">
            <div class="col-6">
                <input placeholder="Profession" type="text" class="form-control" id="profession" v-model="ownerData.profession">
            </div>

            <div class="col-6">
                <input placeholder="Adresse e-mail" type="text" class="form-control" id="addr_email" v-model.trim="ownerData.addr_email">
            </div>
        </div>

        <div class="row gx-3 mb-3">
            <div class="col-6">
                <input placeholder="Lieu d'habitation" type="text" class="form-control" id="location" v-model="ownerData.location">
            </div>

            <div class="col-6">
                <input placeholder="Nom d'un parent" type="text" class="form-control" id="parent_name" v-model="ownerData.parent_name">
            </div>
        </div>
    </div>

    <div :class="{ active: currentStep === 2 }"class="tab-pane fade show">
        <div class="row gx-3 mb-4">
            <div class="col-3">
                <input placeholder="Type de propriétés" type="text" class="form-control" id="house_type" v-model="houseData.house_type">
            </div>

            <div class="col-3">
                <input  @input="filterNumber(houseData.house_rent)" placeholder="Loyer/mois" class="form-control" id="house_rent" v-model="houseData.house_rent">
            </div>

            <div class="col-3">
                <input @input="filterNumber(houseData.house_number_room)" placeholder="Nombre de pièces" class="form-control" id="house_number_room" v-model="houseData.house_number_room">
            </div>

            <div class="col-3">
                <input placeholder="Situation géographique" class="form-control" id="house_address" v-model="houseData.house_address">
            </div>
        </div>

        <div class="row gx-3 mb-4">
            <div class="col-3">
                <input @input="filterNumber(houseData.house_month)" placeholder="Nombre de mois de caution" class="form-control" id="house_month" v-model="houseData.house_month">
            </div>

            <div class="col-3">
                <input @input="filterNumber(houseData.house_guaranty)" placeholder="Caution" type="text" class="form-control" id="house_guaranty" v-model="houseData.house_guaranty">
            </div>

            <div class="col-3">
                <input v-bind:placeholder="houseData.house_lease_start_date" type="date" class="form-control" id="house_lease_start_date" v-model="houseData.house_lease_start_date">
                <span class="text-muted small">Date de location</span>
            </div>
        </div>
    </div>

    <div :class="{ active: currentStep === 3 }" class="tab-pane fade show">
        <div class="row gx-3 mb-3">
            <div class="col-6">
                <input placeholder="Nom &amp; prénoms" type="text" class="form-control" id="fullname" v-model="tenantData.fullname">
            </div>

            <div class="col-6 mb-3">
                <input placeholder="Numéro de Carte Nationale d'Identité/Attestion/Passport" type="text" class="form-control" id="card_number" v-model="tenantData.card_number">
            </div>
        </div>

        <div class="row gx-3 mb-3">
            <div class="col-6">
                <input @input="formatPhoneNumber(tenantData.phonenumber_one)" placeholder="Numéro de téléphone I" type="tel" class="form-control" id="phonenumber_one" v-model="tenantData.phonenumber_one">
            </div>

            <div class="col-6">
                <input @input="formatPhoneNumber(tenantData.phonenumber_two)" placeholder="Numéro de téléphone II" type="tel" class="form-control" id="phonenumber_two" v-model="tenantData.phonenumber_two">
            </div>
        </div>

        <div class="row gx-3 mb-3">
            <div class="col-4">
                <input placeholder="Profession" type="text" class="form-control" id="profession" v-model="tenantData.profession">
            </div>

            <div class="col-4">
                <input placeholder="Adresse e-mail" type="text" class="form-control" id="addr_email" v-model="tenantData.addr_email">
            </div>

            <div class="col-4">
                <input placeholder="Nom d'un parent" type="text" class="form-control" id="parent_name" v-model="tenantData.parent_name">
            </div>
        </div>
    </div>
</div>
