<tr>
    <td scope="row">
        <span class="badge bg-purple text-white">
            #{{ tenant.vn_tenant_id }}
        </span>
    </td>
    {% if current_user.vn_company or current_user.is_administrator() %}
    <td scope="row">
        {% if tenant.house and tenant.house.owner %}
        <span class="badge bg-red text-white">
            #{{ tenant.house.owner.vn_owner_id }}
        </span>
        {% else %}
        <span>&ndash;</span>
        {% endif %}
    </td>
    {% endif %}
    <td scope="row">{{ tenant.vn_fullname }} ({{ tenant.vn_phonenumber_one }})</td>
    <td scope="row">
        <span class="badge bg-blue text-white ms-2">#{{ tenant.house.vn_house_id if tenant.house else 'N/A' }}</span>
        <span> &ndash; ({{ (tenant.house.vn_house_rent if tenant.house else 0) | format_amount }} {{
            current_user.vn_devise }})</span>
    </td>
    <td scope="row">
        {{ tenant.house.vn_house_lease_end_date if tenant.house else 'N/A' }}
    </td>
    <td scope="row">{{ tenant.vn_created_at.strftime('%Y-%m-%d') if tenant.vn_created_at else 'N/A' }}</td>
    <td scope="row">
        <button title="Historique des paiements" type="button"
            class="btn btn-datatable btn-icon btn-transparent-primary me-2">
            <i class="text-primary fa fa-money-check-dollar"></i>
        </button>

        <button title="Télécharger le contrat de ce locataire" type="button"
            class="btn btn-datatable btn-icon btn-transparent-green">
            <i class="fa fa-download me-2"></i>
        </button>

        <button title="Mettre à jour les informations de ce locataire"
            class="btn btn-datatable btn-icon btn-transparent-secondary me-2">
            <i class="text-secondary fa fa-edit"></i>
        </button>

        <button title="Supprimer ce locataire" hx-delete="{{ url_for('api.delete_tenant', uuid=tenant.uuid) }}"
            hx-confirm="Êtes-vous sûr de vouloir supprimer ce locataire ?" hx-target="closest tr" hx-swap="outerHTML"
            class="btn btn-datatable btn-icon btn-transparent-dark">
            <i class="text-danger fa fa-trash"></i>
        </button>
    </td>
</tr>