[settings]
known_third_party =cinetpay_sdk,dotenv,flask,flask_apscheduler,flask_bcrypt,flask_caching,flask_cors,flask_flatpages,flask_htmlmin,flask_login,flask_mail,flask_migrate,flask_moment,flask_sqlalchemy,flask_wtf,jwt,requests,sqlalchemy,werkzeug,wtforms
