# .pre-commit-config.yaml

default_stages: [commit]
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
    - id: fix-byte-order-marker
    - id: check-yaml
    - id: end-of-file-fixer
    - id: check-ast
    - id: check-json
    - id: check-merge-conflict
    - id: check-symlinks
    - id: debug-statements
    - id: mixed-line-ending
    - id: requirements-txt-fixer
    - id: check-added-large-files
    - id: detect-private-key
    - id: trailing-whitespace

# isort
- repo: https://github.com/asottile/seed-isort-config
  rev: v2.2.0
  hooks:
    - id: seed-isort-config

# black
- repo: https://github.com/ambv/black
  rev: 23.3.0
  hooks:
    - id: black
      args:
        - --line-length=88
        - --include='\.pyi?$'
        - --exclude="""\.git |
          \.__pycache__|
          \.hg|
          \.mypy_cache|
          \.tox|
          \.venv|
          _build|
          buck-out|
          build|
          dist"""
      language_version: python3.10

# flake8
- repo: https://github.com/PyCQA/flake8
  rev: 6.0.0
  hooks:
    - id: flake8
      additional_dependencies:
        - flake8-bugbear
        - flake8-implicit-str-concat
      args:
        - "--max-line-length=170"
        - "--max-complexity=18"
        - "--select=B,C,E,F,W,T4,B9"
        - "--ignore=E203,E266,E501,W503"
        - "--builtins='F821'"

# reorder_python_imports
- repo: https://github.com/asottile/reorder_python_imports
  rev: v3.9.0
  hooks:
    - id: reorder-python-imports
      args: ["--application-directories", "src"]
      additional_dependencies: ["setuptools>60.9"]
