[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://test.pypi.org/simple/"
verify_ssl = true
name = "testpypi"

[packages]
flask = "*"
python-dotenv = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
uni-slugify = "*"
flask-cors = "*"
phonenumbers = "*"
flask-moment = "*"
flask-wtf = "*"
flask-mail = "*"
flask-login = "*"
gunicorn = "*"
flask-flatpages = "*"
flask-bcrypt = "*"
email-validator = "*"
pyjwt = "*"
flask-htmlmin = "*"
flask-caching = "*"
psycopg2-binary = "*"
pillow = "*"
cinetpay-sdk = {version = "==0.1.1", index = "testpypi"}
requests = "*"
celery = {extras = ["redis"], version = "*"}
redis = "*"
flower = "*"
pyshorteners = "*"
httpx = "*"

[dev-packages]
pre-commit = "*"
black = "*"
flake8 = "*"
isort = "*"

[requires]
python_version = "3.10"
python_full_version = "3.10.6"
