[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dotenv = "*"
flask-restx = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
flask-jwt-extended = "*"
uni-slugify = "*"
flask-cors = "*"
sqlalchemy-utils = "*"
phonenumbers = "*"
flask-restful = "*"

[dev-packages]
pre-commit = "*"
black = "*"
flake8 = "*"
isort = "*"

[requires]
python_version = "3.10"
python_full_version = "3.10.6"
