[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dotenv = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
uni-slugify = "*"
flask-cors = "*"
sqlalchemy-utils = "*"
phonenumbers = "*"
flask-moment = "*"
flask-wtf = "*"
flask-mail = "*"
flask-login = "*"
gunicorn = "*"
flask-flatpages = "*"
pillow = "*"
flask-bcrypt = "*"
email-validator = "*"
pyjwt = "*"
flask-htmlmin = "*"
flask-apscheduler = "*"
flask-caching = "*"

[dev-packages]
pre-commit = "*"
black = "*"
flake8 = "*"
isort = "*"

[requires]
python_version = "3.10"
python_full_version = "3.10.6"
