flask
python-dotenv
flask-migrate
flask-sqlalchemy
uni-slugify
flask-cors
phonenumbers
flask-moment
flask-wtf
flask-mail
flask-login
gunicorn
flask-flatpages
flask-bcrypt
email-validator
pyjwt
flask-minify
flask-caching
psycopg2-binary
pillow
-i https://test.pypi.org/simple/ cinetpay-sdk==0.1.1
requests
celery
redis
flower
pyshorteners
httpx
