{% extends "dashboard/_base.html" %}

{% block dashboard_content %}
	<nav class="nav nav-borders">
		{% if current_user.vn_house_owner %}
			<a class="nav-link ms-0" href="{{ url_for("owner_bp.owner_setting", uuid=current_user.uuid) }}">Paramètres</a>
		{% elif current_user.vn_company %}
			<a class="nav-link ms-0" href="{{ url_for("agency_bp.agency_setting", uuid=current_user.uuid) }}">Paramètres</a>
		{% endif %}
		<a class="nav-link" href="#!">Facturation</a>
		<a class="nav-link" href="{{ url_for('owner_bp.change_password', uuid=current_user.uuid) }}">Sécurité</a>
		<a class="nav-link" href="#!">Notification</a>
	</nav>
	<hr class="mt-0 mb-4"/>

	<div class="row">
		{% block settings_content %}
			<div class="col-xl-4">
				<div class="card mb-4 mb-xl-0">
					<div class="card-header">Photo de profil</div>
					<div class="card-body text-center">
						<img loading="lazy" class="img-account-profile rounded-circle mb-2" src="{{ url_for('static', filename='img/element/avatar.png') }}" alt="{{ current_user }}">
					</div>
				</div>
			</div>

			<div class="col-xl-8">
				<div class="card mb-4">
					<div class="card-header">Informations sur votre compte</div>
					<div class="card-body">
						<form action="." method="POST">
							{{ form.hidden_tag() }}
							{% include "dashboard/account/owner/paths/form.html" %}
						</form>
					</div>
				</div>
			</div>
		{% endblock settings_content %}
	</div>
{% endblock dashboard_content %}
