{% extends "auth/signup/owner.html" %}

{% block template_user_title %}
	 Réinitialiser le mot de passe
{% endblock template_user_title %}

{% block template_user_subtitle %}
	Configuration de nouveau mot de passe.
{% endblock template_user_subtitle %}

{% block template_user_content %}
	<form class="row g-4" method="POST" action="">

		{{ form.hidden_tag() }}

		{% for field in form %}
			<div class="col-md-12 bg-light-input">
		        <div class="input-group input-group-lg">
		            <span class="input-group-text bg-light rounded-start border-0 text-secondary px-3">
		                <i class="fa fa-user-lock"></i>
		            </span>
		            {% if field.errors %}
		            	{{ field(class="form-control border-0 bg-light shadow-none p-3 is-invalid") }}
		            	{% if field.flags.required %}<span class="text-danger">*</span>{% endif %}
			            <div class="invalid-feedback">
			                {% for error in field.errors %}
			                	<span>{{ error }}</span>
			                {% endfor %}
			            </div>
		            {% else %}
		            	{{ field(class="form-control border-0 bg-light shadow-none p-3", placeholder=field.label.text) }}
		            {% endif %}
		        </div>
	    	</div>
	    {% endfor %}

		<div class="align-items-center mt-4">
			<div class="d-grid">
				<button class="btn btn-danger mb-0" type="sumbit">Réinitialiser le mot de passe</button>
			</div>
		</div>
	</form>
{% endblock template_user_content %}

{% block template_user_footer %}
	<div class="row">
		<div class="position-relative my-4">
			<hr>
		</div>

		<div class="mb-4 d-flex justify-content-center">
			<div class="text-white-hover">
				<a href="{{ url_for('auth_bp.login') }}" class="btn bg-google text-white">
					<i class="fa fa-arrow-left me-2"></i> Connectez-vous
				</a>
			</div>
		</div>
	</div>
{% endblock template_user_footer %}
