{% extends "auth/signup/owner.html" %}

{% block template_user_title %}
	 Vous avez oublié votre mot de passe ?
{% endblock template_user_title %}

{% block template_user_subtitle %}
	Pour recevoir un nouveau mot de passe, saisissez votre adresse électronique ci-dessous.
{% endblock template_user_subtitle %}

{% block template_user_content %}
	<form class="row g-4" method="POST" action="{{ url_for('auth_bp.password_reset_request') }}">

		{{ form.hidden_tag() }}

		<div class="col-md-12 bg-light-input">
			<div class="input-group input-group-lg">
				<span class="input-group-text bg-light rounded-start border-0 text-secondary px-3">
					<i class="far fa-envelope"></i>
				</span>
				{% if form.addr_email.errors %}
					{{ form.addr_email(class="form-control border-0 bg-light shadow-none p-3 is-invalid") }}
					<div class="invalid-feedback">
						{% for error in form.addr_email.errors %}
							<span>{{ error }}</span>
						{% endfor %}
					</div>
				{% else %}
					{{ form.addr_email(class="form-control border-0 bg-light shadow-none p-3", placeholder=form.addr_email.label.text) }}
				{% endif %}
			</div>
		</div>

		<div class="align-items-center mt-4">
			<div class="d-grid">
				{{ form.submit(class="btn btn-danger mb-0") }}
			</div>
		</div>
	</form>
{% endblock template_user_content %}

{% block template_user_footer %}
	<div class="row">
		<div class="position-relative my-4">
			<hr>
		</div>

		<div class="mb-4 d-flex justify-content-center">
			<div class="text-white-hover">
				<a href="{{ url_for('auth_bp.login') }}" class="btn bg-google text-white">
					<i class="fa fa-arrow-left me-2"></i> Connectez-vous
				</a>
			</div>
		</div>
	</div>
{% endblock template_user_footer %}
