<div id="layoutSidenav_nav">
    <nav class="sidenav shadow-right sidenav-light">
        <div class="sidenav-menu">
            <div class="nav accordion" id="accordionSidenav">
                <div class="sidenav-menu-heading d-sm-none">
                    Mon Compte
                </div>
                <a class="nav-link d-sm-none" href="#!">
                    <div class="nav-link-icon">
                        <i data-feather="bell"></i>
                    </div>
                    Alertes
                    <span class="badge bg-warning-soft text-warning ms-auto">4 New!</span>
                </a>
                <a class="nav-link d-sm-none" href="#!">
                    <div class="nav-link-icon">
                        <i data-feather="mail"></i>
                    </div>
                    Messages
                    <span class="badge bg-success-soft text-success ms-auto">2 New!</span>
                </a>

                <div class="sidenav-menu-heading">Menu Venone</div>

                <a class="nav-link" href="{{ url_for('owner_bp.dashboard', uuid=current_user.uuid) }}">
                    <div class="nav-link-icon">
                        <i data-feather="home"></i>
                    </div> Tableau de board
                </a>

                <div class="sidenav-menu-heading">Gestion Loyers</div>
                <a class="nav-link" href="{{ url_for('checkout_bp.checkout') }}">
                    <div class="nav-link-icon">
                        <i data-feather="dollar-sign"></i>
                    </div> Loyers
                </a>

                {% if current_user.vn_company %}
                    <div class="sidenav-menu-heading">Gestion locataires</div>
                    <a class="nav-link" href="{{ url_for("agency_bp.agency_create_tenant", uuid=current_user.uuid) }}">
                        <div class="nav-link-icon">
                            <i data-feather="users"></i>
                        </div>
                        Locataires
                    </a>

                    <a class="nav-link" href="#!">
                        <div class="nav-link-icon">
                            <i data-feather="grid"></i>
                        </div> Arriérés
                    </a>

                    <div class="sidenav-menu-heading">Gestion Bailleurs</div>
                    <a class="nav-link" href="{{ url_for("agency_bp.agency_owner_list", uuid=current_user.uuid) }}">
                        <div class="nav-link-icon">
                            <i data-feather="users"></i>
                        </div>
                        Bailleurs
                    </a>
                {% endif %}

                {% if current_user.vn_house_owner %}
                    <div class="sidenav-menu-heading">Gestion locataires</div>
                    <a class="nav-link" href="{{ url_for("agency_bp.agency_create_tenant", uuid=current_user.uuid) }}">
                        <div class="nav-link-icon">
                            <i data-feather="users"></i>
                        </div>
                        Locataires
                    </a>

                    <a class="nav-link" href="#!">
                        <div class="nav-link-icon">
                            <i data-feather="grid"></i>
                        </div> Regularités
                    </a>
                {% endif %}

                <div class="sidenav-menu-heading">Gestion Propriétés</div>
                <a class="nav-link" href="{{ url_for('agency_bp.agency_house_list', uuid=current_user.uuid)}}">
                    <div class="nav-link-icon">
                        <i data-feather="home"></i>
                    </div> Propriétés
                </a>

                <div class="sidenav-menu-heading">Rapports</div>
                <a class="nav-link" href="#!">
                    <div class="nav-link-icon">
                        <i data-feather="bar-chart"></i>
                    </div>
                    Rapports
                </a>
                <a class="nav-link" href="#!">
                    <div class="nav-link-icon">
                        <i data-feather="bell"></i>
                    </div>
                    Notifications
                </a>

                <div class="sidenav-menu-heading">paramètres</div>
                {% if current_user.vn_house_owner %}
                    <a class="nav-link" href="{{ url_for("owner_bp.owner_setting", uuid=current_user.uuid) }}">
                        <div class="nav-link-icon">
                            <i data-feather="settings"></i>
                        </div>
                        Paramètre du compte
                    </a>
                {% elif current_user.vn_company %}
                    <a class="nav-link" href="{{ url_for("agency_bp.agency_setting", uuid=current_user.uuid) }}">
                        <div class="nav-link-icon">
                            <i data-feather="settings"></i>
                        </div>
                        Paramètre du compte
                    </a>
                {% endif %}
            </div>
        </div>

        <!-- Sidenav Footer-->
        <div class="sidenav-footer">
            <div class="sidenav-footer-content">
                <div class="sidenav-footer-subtitle">
                Connecté en tant que:</div>
                <div class="sidenav-footer-title">
                    {{ current_user.get_name() }}
                </div>
            </div>
        </div>
    </nav>
</div>
