{% extends "dashboard/_base.html" %}

{% block dashboard_content %}
<div id="othersHousesApp" hx-get="{{ url_for('api.get_houses_country') }}" hx-trigger="load" hx-swap="innerHTML">
    <div class="preloader">
        <div class="preloader-body">
            <p>Chargement en cours...</p>
            <div class="cssload-container">
                <div class="cssload-speeding-wheel"></div>
            </div>
        </div>
    </div>
</div>
{% endblock dashboard_content %}

{% block other_js_src %}
{{ super() }}
{% endblock other_js_src %}
