{% extends "auth/admin/pages/owner/settings.html" %}


{% block settings_content %}
    <div class="col-lg-8">
	    <div class="card mb-4">
	    	<div class="card-header">Changeer de mot de passe</div>
	    	<div class="card-body">
	    
			    <form action="{{ url_for('owner_bp.change_password') }}" method="POST">

			    	{% for field in form %}
			    		<div class="mb-3">
				    		{{ field.label(class="small mb-1") }}
						    {% if field.errors %}
								{{ field(class="form-control is-invalid") }}
								<div class="invalid-feedback">
									{% for error in field.errors %}
									<span>{{ error }}</span>
									{% endfor %}
								</div>
							{% else %}
								{{ field(class="form-control") }}
							{% endif %}
				    	</div>
			    	{% endfor %}
				    
				    <button type="submit" class="btn btn-primary mb-0">
				    Mettre à jour votre mot de passe </button>
			    </form>
	    	</div>
	    </div>
    </div>
{% endblock settings_content %}
