{% extends "tenant/_base.html" %}

{% block breadcrmub_plus %}

{% endblock breadcrmub_plus %}

{% block dashboard_content %}
    <section id="houseTable">

        <!-- Alert message -->
        <div v-if="showDeleteAlert" class="alert alert-success" role="alert">
            Le compte du bailleur a été supprimé avec succès.
        </div>

        <div v-if="houses.length == 0" class="card card-body shadow-none bg-transparent border-0">
            <div class="text-center py-2">
                <img loading="lazy" class="img-account-profile rounded-circle mb-4" src="{{ url_for('static', filename="img/element/house.svg")}}" alt="">

                <p class="d-flex justify-content-center text-muted mb-4">
                    Vous n'avez aucune propriété enregistrée en ce moment.
                </p>
            </div>
        </div>

        <div v-else-if="houses.length > 0" class="card card-header-actions">

            <div class="card-header">
                <span class="fw-700">Propriétés ({ houses.length })</span>
                <form>
                    <input class="form-control" placeholder="Rechercher">
                </form>
            </div>

            <table class="table table-hover table-responsive">
                <thead class="small">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Bailleur</th>
                        <th scope="col">Proprité</th>
                        <th scope="col">Status location</th>
                        <th scope="col">Mise en location le</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <p v-if="isLoading">Loading...</p>
                    {% include "tenant/paths/_house.html" %}
                </tbody>
            </table>

            {% include "tenant/paths/_paginate.html" %}
        </div>
    </section>

    <div class="modal fade" data-bs-backdrop="static" id="addTenantModal" tabindex="-1" role="dialog" aria-labelledby="tenantModal" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Enregistré une propriété</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <div class="nav nav-pills nav-justified nav-wizard" id="cardTab tenantModal" role="tablist">
                        <a class="nav-item nav-link active p-3" id="wizard1-tab" href="#wizard1" data-bs-toggle="tab" role="tab" aria-controls="wizard1" aria-selected="true">
                            <div class="wizard-step-icon">1</div>
                            <div class="wizard-step-text">
                                <div class="modal-title wizard-step-text-name">
                                    Enregistrer la propriété
                                </div>
                            </div>
                        </a>

                        <a class="nav-item nav-link p-3" id="wizard2-tab" href="#wizard2" data-bs-toggle="tab" role="tab" aria-controls="wizard2" aria-selected="true">
                            <div class="wizard-step-icon">2</div>
                            <div class="wizard-step-text">
                                <div class="modal-title wizard-step-text-name">
                                   Enregistrer le locataire
                                </div>
                            </div>
                        </a>
                    </div>

                    <hr class="my-3">

                    {% include "tenant/paths/_owner_register.html" %}
                </div>
            </div>
        </div>
    </div>
{% endblock dashboard_content %}


{% block other_js_src %}
    {{ super() }}
    <script src="{{ url_for('static', filename="js/app/house.js") }}"></script>
{% endblock other_js_src %}
