{% extends "dashboard/_base.html" %}

{% block dashboard_content %}
    <section id="houseApp">

        <message-component :show-message-alert="showMessageAlert" :message-alert="messageAlert">
        </message-component>

        <div v-if="user.houses_count == 0" class="card card-body shadow-none bg-transparent border-0">
            <div class="text-center py-2">
                <img loading="lazy" class="img-account-profile rounded-circle mb-4" src="{{ url_for('static', filename="img/element/house.svg")}}" alt="">

                <p class="d-flex justify-content-center text-muted mb-4">
                    Vous n'avez aucune propriété enregistrée en ce moment.
                </p>
                <button @click="createHouse" class="btn btn-sm btn-success text-uppercase text-white fw-500" type="button">
                    <i class="me-2" data-feather="home"></i>
                    Enregistrer une propriété
                </button>
            </div>
        </div>

        <div v-if="isLoading" class="preloader">
            <div class="preloader-body">
                <p>Chargement en cours...</p>
                <div class="cssload-container">
                    <div class="cssload-speeding-wheel"></div>
                </div>
            </div>
        </div>

        <div v-if="user.houses_count > 0" class="row g-2">
            <div :class="{ 'col-xl-4': user.is_owner, 'col-md-3': user.vn_company }" class="mb-4">
                <div class="card border-start-lg border-start-primary h-100">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="flex-grow-1">
                                <div class="small fw-bold text-primary mb-2 text-uppercase">total loyer à collecter</div>
                                <div class="h1 fw-700">{ user.total_house_amount } { user.vn_device }</div>
                            </div>
                            <div class="ms-2"><i class="fas fa-dollar-sign fa-2x text-gray-200"></i></div>
                        </div>
                    </div>
                </div>
            </div>

            <div v-if="user.vn_company" class="col-md-3 mb-4">
                <div class="card border-start-lg border-start-primary h-100">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="flex-grow-1">
                                <div class="small fw-bold text-primary mb-2 text-uppercase">total de vos gains</div>
                                <div class="h1 fw-700">{ user.total_house_percent } { user.vn_device }</div>
                            </div>
                            <div class="ms-2"><i class="fas fa-dollar-sign fa-2x text-gray-200"></i></div>
                        </div>
                    </div>
                </div>
            </div>

            <div :class="{ 'col-xl-4': user.is_owner, 'col-md-3': user.vn_company }" class="mb-4">
                <div class="card border-start-lg border-start-secondary h-100">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="flex-grow-1">
                                <div class="small fw-bold text-secondary mb-2 text-uppercase">total propriétés</div>
                                <div class="h1 fw-700">{ user.houses_count }</div>
                            </div>
                            <div class="ms-2"><i class="fas fa-home fa-2x text-gray-200"></i></div>
                        </div>
                    </div>
                </div>
            </div>

            <div :class="{ 'col-xl-4': user.is_owner, 'col-md-3': user.vn_company }" class="mb-4">
                <div class="card border-start-lg border-start-success h-100">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="flex-grow-1">
                                <div class="small fw-bold text-success text-uppercase mb-2">total locataires</div>
                                <div class="h1 fw-700">{ user.tenants_count }</div>
                            </div>
                            <div class="ms-2"><i class="fas fa-users fa-2x text-gray-200"></i></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div v-if="user.houses_count > 0" class="row">
            <div class="col-12">
                <div class="card card-header-actions">
                    <div class="card-header">
                        <span class="fw-700">Vos propriétés ({ user.houses_count })</span>
                        <div>
                            <button @click.prevent="createHouse" class="btn btn-sm btn-outline-success text-uppercase fw-700 shadow-none" type="button">
                                <i class="me-2" data-feather="home"></i>
                                Ajouter une propriété
                            </button>

                            <button @click.prevent="downloadHouseCSV" type="button" class="btn btn-sm btn-outline-primary text-uppercase fw-700 shadow-none ms-3">
                                <i class="me-2" data-feather="download"></i>
                                télécharger le csv
                            </button>
                        </div>
                    </div>

                    <div class="card-body">
                        {#<div class="input-group input-group-joined input-group-solid shadow-none">
                            <button type="submit" class="input-group-text"><i data-feather="search"></i></button>
                            <input type="text" placeholder="Rechercher une proprété ..." class="form-control shadow-none ps-0" aria-label="Rechercher">
                        </div>#}

                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class="small">
                                    <tr>
                                        <th scope="col">ID Propriété</th>
                                        <th v-if="user.vn_company" scope="col">ID Propriétaire</th>
                                        <th scope="col">Locataire</th>
                                        <th scope="col">Propriété &amp; Localisation</th>
                                        <th scope="col">Loyer/mois</th>
                                        <th scope="col">Ajouté le</th>
                                        <th scope="col">Status</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {% include "tenant/paths/_house.html" %}
                                </tbody>
                            </table>
                        </div>

                        <paginate-component :current-page="currentPage" :total-pages="totalPages" :next-page="nextPage" :prev-page="prevPage"></paginate-component>
                    </div>
                </div>
            </div>
        </div>

        <!-- add house -->
        <div class="modal fade" data-bs-backdrop="static" id="createHouseModal">
            <div class="modal-dialog modal-xl modal-dialog-centered">
                <div class="modal-content">
                    <form>
                        <div class="modal-header">
                            <h4 class="modal-title">
                                Enregistrer une propriété
                            </h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>

                        <div class="modal-body">
                            {% include "tenant/fields/field_house.html" %}
                        </div>

                        <div class="modal-footer">
                            <button type="button" @click.prevent="onCreateHouse" class="btn btn-success shadow-none">
                                Enregistrer
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock dashboard_content %}


{% block other_js_src %}
    {{ super() }}
    <script type="module" src="{{ url_for('static', filename="js/app/house.js") }}"></script>
{% endblock other_js_src %}
src %}
