{% extends "tenant/_base.html" %}


{% block breadcrmub_plus %}

{% endblock breadcrmub_plus %}

{% block dashboard_content %}
    <div class="card">
        <div class="card-body">
            <table class="table hover" id="tableData">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nom &amp; prénoms</th>
                        <th>Téléphone</th>
                        <th>Nombre de propriétés</th>
                        <th>Status</th>
                        <th>Date d'ajout</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% include "tenant/paths/_owner.html" %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock dashboard_content %}

