{% extends "dashboard/_base.html" %}

{% block dashboard_content %}
    <section id="houseOwnerTable">

        <!-- Alert message -->
        <message-component
            :show-message-alert="showMessageAlert"
            :message-alert="messageAlert">
        </message-component>

        <div v-if="user.owners_count == 0" class="card card-body shadow-none bg-transparent border-0">
            <div class="text-center py-2">

                <img loading="lazy" class="img-account-profile rounded-circle mb-4" src="{{ url_for('static', filename="img/element/avatar.png")}}" alt="">

                <p class="d-flex justify-content-center text-muted mb-4">
                    Vous n'avez aucun propriétaire enregistré en ce moment.
                </p>
            </div>
        </div>

        <div v-if="isLoading" class="preloader">
            <div class="preloader-body">
                <p>Chargement en cours...</p>
                <div class="cssload-container">
                    <div class="cssload-speeding-wheel"></div>
                </div>
            </div>
        </div>

        <div v-else-if="user.owners_count > 0" class="card card-header-actions">

            <div class="card-header">
                <span class="fw-700">{{ current_user.houseowners.count() }} bailleurs</span>

                <div>
                    <button @click.prevent="downloadOwnerCSV" type="button" class="btn btn-sm btn-outline-primary text-uppercase fw-700 shadow-none">
                        <i class="me-2" data-feather="download"></i>
                        télécharger le csv
                    </button>
                </div>
            </div>

            <div class="card-body">

                <div class="input-group input-group-joined input-group-solid shadow-none">
                    <button type="submit" class="input-group-text"><i data-feather="search"></i></button>
                    <input
                        type="text"
                        placeholder="Rechercher un propriétaire ..."
                        class="form-control shadow-none ps-0"
                        aria-label="Rechercher"
                    >
                </div>

                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead class="small">
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Nom &amp; prénoms / contact</th>
                                <th scope="col">Loyer à collecter</th>
                                <th scope="col">Total propriétés</th>
                                <th scope="col">Total locataires</th>
                                <th scope="col">Date d'ajout</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% include "tenant/paths/_owner.html" %}
                        </tbody>
                    </table>
                </div>

                <paginate-component
                    :current-page="currentPage"
                    :total-pages="totalPages"
                    :next-page="nextPage"
                    :prev-page="prevPage"
                ></paginate-component>
            </div>
        </div>
    </section>
{% endblock dashboard_content %}

{% block other_js_src %}
    {{ super() }}
    <script type="module" src="{{ url_for('static', filename="js/app/owner.js") }}"></script>
{% endblock other_js_src %}
