{% extends "dashboard/_base.html" %}

{% block dashboard_content %}
    <section id="tenantTable">
        <message-component
            :show-message-alert="showMessageAlert"
            :message-alert="messageAlert">
        </message-component>

        <div v-if="user.tenants_count == 0" class="card card-body shadow-none bg-transparent border-0">
            <div class="text-center py-2">

                <img loading="lazy" class="img-account-profile rounded-circle mb-2" src="{{ url_for('static', filename="img/element/avatar.png")}}">

                <h4 class="d-flex justify-content-center text-muted mb-4">
                    Vous n'avez aucun locataire enregistré en ce moment.
                </h4>

                <button v-if="user.is_owner" @click="createOwnerTenant" class="btn btn-sm btn-success text-uppercase text-white fw-500" type="button">
                    <i class="me-2" data-feather="user-plus"></i>
                    Enregistrer un locataire
                </button>

                <button v-if="user.is_company" @click="createCompanyTenant" class="btn btn-sm btn-success text-uppercase text-white fw-500" type="button">
                    <i class="me-2" data-feather="user-plus"></i>
                    Enregistrer un locataire
                </button>
            </div>
        </div>

        <div v-if="isLoading" class="preloader">
            <div class="preloader-body">
                <p>Chargement en cours...</p>
                <div class="cssload-container">
                    <div class="cssload-speeding-wheel"></div>
                </div>
            </div>
        </div>

        <div v-else-if="user.tenants_count > 0" class="card card-header-actions mx-auto">
            <div class="card-header">
                <span class="fw-700">{ user.tenants_count } locataires</span>
                <div>
                    <button v-if="user.is_company" @click.prevent="createCompanyTenant" class="btn btn-sm btn-success text-white text-uppercase fw-700 me-2">
                        <i class="me-2" data-feather="user-plus"></i>
                        Enregistrer un locataire
                    </button>

                    <button v-if="user.is_owner" @click.prevent="createOwnerTenant" class="btn btn-sm btn-success text-white text-uppercase fw-700 me-2">
                        <i class="me-2" data-feather="user-plus"></i>
                        Enregistrer un locataire
                    </button>

                    <button @click.prevent="downloadTenantCSV" type="button" class="btn btn-sm btn-outline-primary text-uppercase fw-700 shadow-none">
                        <i class="me-2" data-feather="download"></i>
                        télécharger le csv
                    </button>
                </div>
            </div>

            <div class="card-body">
                <div class="input-group input-group-joined input-group-solid shadow-none">
                    <button type="submit" class="input-group-text"><i data-feather="search"></i></button>
                    <input
                        type="text"
                        placeholder="Rechercher un locataire ..."
                        v-model="searchQuery"
                        class="form-control shadow-none ps-0"
                    >
                </div>

                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead class="small">
                            <tr>
                                <th scope="col">ID</th>
                                <th v-if="user.is_company" scope="col">ID Propriétaire</th>
                                <th scope="col">Nom &amp; prénoms / téléphone</th>
                                <th scope="col">Loyer du mois en cours</th>
                                <th scope="col">Date d'ajout</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% include "tenant/paths/_tenant.html" %}
                        </tbody>
                    </table>
                </div>

                <paginate-component
                    :current-page="currentPage"
                    :total-pages="totalPages"
                    :next-page="nextPage"
                    :prev-page="prevPage"
                ></paginate-component>
            </div>
        </div>

        <!-- modal company add tenant -->
        <div v-if="user.is_company" class="modal fade" data-bs-backdrop="static" id="createTenantModal">
            <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Enregistrer un locataire</h5>
                        <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        <div class="nav nav-pills nav-justified nav-wizard" role="tablist">
                            <div :class="{ active: currentStep === 1 }" class="nav-item nav-link p-3">
                                <div class="wizard-step-icon">1</div>
                                <div class="wizard-step-text">
                                    <div class="modal-title wizard-step-text-name fw-700">
                                        Propriétaire
                                    </div>
                                    <small class="wizard-step-text-details">Informations sur le propriétaire</small>
                                </div>
                            </div>

                            <div :class="{ active: currentStep === 2 }" class="nav-item nav-link p-3" id="wizard2-tab">
                                <div class="wizard-step-icon">2</div>
                                <div class="wizard-step-text">
                                    <div class="modal-title wizard-step-text-name fw-700">
                                        Propriété
                                    </div>
                                    <small class="wizard-step-text-details">Informations sur la propriété</small>
                                </div>
                            </div>

                            <div :class="{ active: currentStep === 3 }" class="nav-item nav-link p-3" id="wizard2-tab">
                                <div class="wizard-step-icon">3</div>
                                <div class="wizard-step-text">
                                    <div class="modal-title wizard-step-text-name fw-700">
                                       Locataire
                                    </div>
                                    <small class="wizard-step-text-details">Informations sur le locataire</small>
                                </div>
                            </div>
                        </div>

                        <hr class="my-3">

                        <div class="tab-content">
                            <div :class="{ active: currentStep === 1 }"class="tab-pane fade show">
                                <div class="row gx-3 mb-3">
                                    <div class="col-6">
                                        <label for="fullname" class="form-label small">Nom &amp; prénoms</label>
                                        <input placeholder="Nom &amp; prénoms" type="text" class="form-control" id="fullname" v-model="ownerData.fullname">
                                    </div>

                                    <div class="col-6">
                                        <label for="card_number" class="form-label small">N° Carte Nationale d'Identité/Attestion/Passport</label>
                                        <input placeholder="N° Carte Nationale d'Identité/Attestion/Passport" type="text" class="form-control" id="card_number" v-model.trim="ownerData.card_number">
                                    </div>
                                </div>

                                <div class="row mb-4">
                                    <div class="col-md-6">
                                        <label for="percent" class="form-label">Pourcentage (&#37;)</label>
                                        <input placeholder="Entrer votre pourcentage sur les loyers de ce propriétaire" class="form-control" id="percent" v-model.num="ownerData.percent">
                                    </div>
                                </div>

                                <div class="row gx-3 mb-3">
                                    <div class="col-6">
                                        <label for="phonenumber_one" class="form-label small">Numéro de téléphone I</label>
                                        <input placeholder="Numéro de téléphone I" type="tel" class="form-control" id="phonenumber_one" v-model="ownerData.phonenumber_one" placeholder="01-5157-1393">
                                    </div>

                                    <div class="col-6">
                                        <label for="phonenumber_two" class="form-label small">Numéro de téléphone II</label>
                                        <input placeholder="Numéro de téléphone II" type="tel" class="form-control" id="phonenumber_two" v-model="ownerData.phonenumber_two">
                                    </div>
                                </div>

                                <div class="row gx-3 mb-3">
                                    <div class="col-6">
                                        <label for="profession" class="form-label small">Profession</label>
                                        <input placeholder="Profession" type="text" class="form-control" id="profession" v-model="ownerData.profession">
                                    </div>

                                    <div class="col-6">
                                        <label for="addr_email" class="form-label small">Adresse e-mail</label>
                                        <input placeholder="Adresse e-mail" type="text" class="form-control" id="addr_email" v-model.trim="ownerData.addr_email">
                                    </div>
                                </div>

                                <div class="row gx-3 mb-3">
                                    <div class="col-6">
                                        <label for="location" class="form-label small">Lieu d'habitation</label>
                                        <input placeholder="Lieu d'habitation" type="text" class="form-control" id="location" v-model="ownerData.location">
                                    </div>

                                    <div class="col-6">
                                        <label for="parent_name" class="form-label small">Nom d'un parent</label>
                                        <input placeholder="Nom d'un parent" type="text" class="form-control" id="parent_name" v-model="ownerData.parent_name">
                                    </div>
                                </div>
                            </div>

                            <div :class="{ active: currentStep === 2 }"class="tab-pane fade show">
                                <div class="row gx-3 mb-4">
                                    <div class="col-3">
                                        <label for="house_type" class="form-label small">Type de propriétés</label>
                                        <input placeholder="Type de propriétés" type="text" class="form-control" id="house_type" v-model="houseData.house_type">
                                    </div>

                                    <div class="col-3">
                                        <label for="house_rent" class="form-label small">Loyer/mois</label>
                                        <input @input="filterNumber(houseData.house_rent)" placeholder="Loyer/mois" class="form-control" id="house_rent" v-model="houseData.house_rent">
                                    </div>

                                    <div class="col-3">
                                        <label for="house_number_room" class="form-label small">Nombre de pièces</label>
                                        <input @input="filterNumber(houseData.house_number_room)" placeholder="Nombre de pièces" class="form-control" id="house_number_room" v-model="houseData.house_number_room">
                                    </div>

                                    <div class="col-3">
                                        <label for="house_address" class="form-label small">Situation géographique</label>
                                        <input placeholder="Situation géographique" class="form-control" id="house_address" v-model="houseData.house_address">
                                    </div>
                                </div>

                                <div class="row gx-3 mb-4">
                                    <div class="col-3">
                                        <input @input="filterNumber(houseData.house_month)" placeholder="Nombre de mois de caution" class="form-control" id="house_month" v-model="houseData.house_month">
                                    </div>

                                    <div class="col-3">
                                        <input @input="filterNumber(houseData.house_guaranty)" placeholder="Caution" type="text" class="form-control" id="house_guaranty" v-model="houseData.house_guaranty">
                                    </div>

                                    <div class="col-3">
                                        <input v-bind:placeholder="houseData.house_lease_start_date" type="date" class="form-control" id="house_lease_start_date" v-model="houseData.house_lease_start_date">
                                        <span class="text-muted small">Date de location</span>
                                    </div>
                                </div>
                            </div>

                            <div :class="{ active: currentStep === 3 }" class="tab-pane fade show">
                                <div class="row gx-3 mb-3">
                                    <div class="col-6">
                                        <label for="fullname" class="form-label small">Nom &amp; prénoms</label>
                                        <input placeholder="Nom &amp; prénoms" type="text" class="form-control" id="fullname" v-model="tenantData.fullname">
                                    </div>

                                    <div class="col-6 mb-3">
                                        <label for="card_number" class="form-label small">N° Carte Nationale d'Identité/Attestion/Passport</label>
                                        <input placeholder="N° Carte Nationale d'Identité/Attestion/Passport" type="text" class="form-control" id="card_number" v-model="tenantData.card_number">
                                    </div>
                                </div>

                                <div class="row gx-3 mb-3">
                                    <div class="col-6">
                                        <label for="phonenumber_one" class="form-label small">Numéro de téléphone I</label>
                                        <input placeholder="Numéro de téléphone I" type="tel" class="form-control" id="phonenumber_one" v-model="tenantData.phonenumber_one">
                                    </div>

                                    <div class="col-6">
                                        <label for="phonenumber_two" class="form-label small">Numéro de téléphone II</label>
                                        <input placeholder="Numéro de téléphone II" type="tel" class="form-control" id="phonenumber_two" v-model="tenantData.phonenumber_two">
                                    </div>
                                </div>

                                <div class="row gx-3 mb-3">
                                    <div class="col-4">
                                        <label for="profession" class="form-label small">Profession</label>
                                        <input placeholder="Profession" type="text" class="form-control" id="profession" v-model="tenantData.profession">
                                    </div>

                                    <div class="col-4">
                                        <label for="addr_email" class="form-label small">Adresse e-mail</label>
                                        <input placeholder="Adresse e-mail" type="text" class="form-control" id="addr_email" v-model="tenantData.addr_email">
                                    </div>

                                    <div class="col-4">
                                        <label for="parent_name" class="form-label small">Nom d'un parent</label>
                                        <input placeholder="Nom d'un parent" type="text" class="form-control" id="parent_name" v-model="tenantData.parent_name">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row modal-footer justify-content-center">
                        <div class="col-12">
                            <div class="d-flex justify-content-between">
                                <button :class="{ disabled: currentStep === 1 }" @click.prevent="prevStep" class="btn btn-light shadow-none" type="button">Précédent</button>
                                <button v-if="currentStep < 3" @click.prevent="nextStep" class="btn btn-primary shadow-none" type="button">Suivant</button>
                                <button v-if="currentStep === 3" @click.prevent="onCreateComapnyTenant" class="btn btn-success shadow-none" type="submit">Valider</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- modal owner add tenant -->
        <div v-if="user.is_owner" class="modal fade" data-bs-backdrop="static" id="addOwnerTenantModal">
            <div class="modal-dialog modal-xl modal-dialog-centered">
                <div class="modal-content">
                    <form>
                        <div class="modal-header">
                            <h4 class="modal-title">
                                Ajouter un locataire
                            </h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>

                        <div class="modal-body">
                            <div class="nav nav-pills nav-justified nav-wizard" role="tablist">
                                <div :class="{ active: currentStep === 1 }" class="nav-item nav-link p-3">
                                    <div class="wizard-step-icon">3</div>
                                    <div class="wizard-step-text">
                                        <div class="modal-title wizard-step-text-name fw-700">
                                            Locataire
                                        </div>
                                        <small class="wizard-step-text-details">Informations sur le locataire</small>
                                    </div>
                                </div>

                                <div :class="{ active: currentStep === 2 }" class="nav-item nav-link p-3">
                                    <div class="wizard-step-icon">2</div>
                                    <div class="wizard-step-text">
                                        <div class="modal-title wizard-step-text-name fw-700">
                                            Propriété
                                        </div>
                                        <small class="wizard-step-text-details">Informations sur la propriété</small>
                                    </div>
                                </div>
                            </div>

                            <hr class="my-3">

                            <div class="tab-content">
                                <div :class="{ active: currentStep === 1 }"class="tab-pane fade show">
                                    <div class="row gx-3 mb-3">
                                        <div class="col-6">
                                            <label for="fullname" class="form-label small">Nom &amp; prénoms</label>
                                            <input placeholder="Nom &amp; prénoms" type="text" class="form-control" id="fullname" v-model="tenantData.fullname">
                                        </div>

                                        <div class="col-6 mb-3">
                                            <label for="card_number" class="form-label small">N° de Carte Nationale d'Identité/Attestion/Passport</label>
                                            <input placeholder="N° de Carte Nationale d'Identité/Attestion/Passport" type="text" class="form-control" id="card_number" v-model="tenantData.card_number">
                                        </div>
                                    </div>

                                    <div class="row gx-3 mb-3">
                                        <div class="col-6">
                                            <label for="phonenumber_one" class="form-label small">N° de téléphone I</label>
                                            <input placeholder="N° de téléphone I" type="tel" class="form-control" id="phonenumber_one" v-model="tenantData.phonenumber_one">
                                        </div>

                                        <div class="col-6">
                                            <label for="phonenumber_two" class="form-label small">N° de téléphone II</label>
                                            <input placeholder="N° de téléphone II" type="tel" class="form-control" id="phonenumber_two" v-model="tenantData.phonenumber_two">
                                        </div>
                                    </div>

                                    <div class="row gx-3 mb-3">
                                        <div class="col-4">
                                            <label for="profession" class="form-label small">Profession</label>
                                            <input placeholder="Profession" type="text" class="form-control" id="profession" v-model="tenantData.profession">
                                        </div>

                                        <div class="col-4">
                                            <label for="addr_email" class="form-label small">Adresse e-mail</label>
                                            <input placeholder="Adresse e-mail" type="text" class="form-control" id="addr_email" v-model="tenantData.addr_email">
                                        </div>

                                        <div class="col-4">
                                            <label for="parent_name" class="form-label small">Nom d'un parent</label>
                                            <input placeholder="Nom d'un parent" type="text" class="form-control" id="parent_name" v-model="tenantData.parent_name">
                                        </div>
                                    </div>
                                </div>

                                <div :class="{ active: currentStep === 2 }" class="tab-pane fade show">
                                    <div class="row gx-3 mb-4">
                                        <div class="col-3">
                                            <label for="house_type" class="form-label small">Type de propriétés</label>
                                            <input placeholder="Type de propriétés" type="text" class="form-control" id="house_type" v-model="houseData.house_type">
                                        </div>

                                        <div class="col-3">
                                            <label for="house_rent" class="form-label small">Loyer/mois</label>
                                            <input placeholder="Loyer/mois" class="form-control" id="house_rent" v-model="houseData.house_rent">
                                        </div>

                                        <div class="col-3">
                                            <label for="house_number_room" class="form-label small">Nombre de pièces</label>
                                            <input placeholder="Nombre de pièces" class="form-control" id="house_number_room" v-model="houseData.house_number_room">
                                        </div>

                                        <div class="col-3">
                                            <label for="house_address" class="form-label small">Situation géographique</label>
                                            <input placeholder="Situation géographique" class="form-control" id="house_address" v-model="houseData.house_address">
                                        </div>
                                    </div>

                                    <div class="row gx-3 mb-4">
                                        <div class="col-3">
                                            <label for="house_month" class="form-label small">Nombre de mois de caution</label>
                                            <input placeholder="Nombre de mois de caution" class="form-control" id="house_month" v-model="houseData.house_month">
                                        </div>

                                        <div class="col-3">
                                            <label for="house_guaranty" class="form-label small">Caution</label>
                                            <input placeholder="Caution" type="text" class="form-control" id="house_guaranty" v-model="houseData.house_guaranty">
                                        </div>

                                        <div class="col-3">
                                            <label for="house_lease_start_date" class="form-label small">Date de location</label>
                                            <input v-bind:placeholder="houseData.house_lease_start_date" type="date" class="form-control" id="house_lease_start_date" v-model="houseData.house_lease_start_date">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row modal-footer justify-content-center">
                            <div class="col-12">
                                <div class="d-flex justify-content-between">
                                    <button :class="{ disabled: currentStep === 1 }" @click.prevent="prevStep" class="btn btn-light shadow-none" type="button">Précédent</button>

                                    <button v-if="currentStep < 2" @click.prevent="nextStep" class="btn btn-primary shadow-none" type="button">Suivant</button>

                                    <button v-if="currentStep === 2" @click.prevent="onCreateOwnerTenant" class="btn btn-success shadow-none">Valider</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock dashboard_content %}

{% block other_js_src %}
    {{ super() }}
    <script type="module" src="{{ url_for('static', filename="js/app/tenant.js") }}"></script>
{% endblock other_js_src %}
