{% extends "tenant/_base.html" %}

{% block dashboard_content %}
    <section id="tenantTable">

        <!-- Alert message -->
        <div v-if="showMessageAlert" class="alert alert-success" role="alert">
            { messageAlert }
        </div>

        <div v-if="tenants.length == 0" class="card card-body card card-body shadow-none bg-transparent border-0">
            <div class="text-center py-2">

                <img loading="lazy" class="img-account-profile rounded-circle mb-2" src="{{ url_for('static', filename="img/element/avatar.png")}}" alt="">

                <h4 class="d-flex justify-content-center text-muted mb-4">
                    Vous n'avez aucun locataire enregistré en ce moment.
                </h4>

                <button @click="createTenant" class="btn btn-sm btn-success text-uppercase text-white fw-500" type="button">
                    <i class="me-2" data-feather="user-plus"></i>
                    Enregistrer un locataire
                </abutton>
            </div>
        </div>

        <div v-if="isLoading" class="preloader">
            <div class="preloader-body">
                <p>Chargement en cours...</p>
                <div class="cssload-container">
                    <div class="cssload-speeding-wheel"></div>
                </div>
            </div>
        </div>

        <div v-else-if="tenants.length > 0" class="card card-header-actions mx-auto">
            <div class="card-header">
                <span class="fw-700">Locataire ({ tenants.length })</span>
                <div>
                    <button @click="createTenant" class="btn btn-sm btn-success text-white text-uppercase fw-700">
                        <i class="me-2" data-feather="user-plus"></i>Enregistrer un locataire
                    </button>
                </div>
            </div>

            <div class="card-body">
                <div class="input-group input-group-joined input-group-solid shadow-none">
                    <button type="submit" class="input-group-text"><i data-feather="search"></i></button>
                    <input
                        type="text"
                        placeholder="Rechercher un locataire ..."
                        v-model="searchQuery"
                        class="form-control shadow-none ps-0"
                    >
                </div>

                <div class="table-responsive-sm">
                    <table class="table table-hover">
                        <thead class="small">
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Nom &amp; prénoms / téléphone</th>
                                <th scope="col">Loyer du mois en cours</th>
                                <th scope="col">Date de location</th>
                                <th scope="col">Délais de paiement</th>
                                <th scope="col">Status paiement</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% include "tenant/paths/_tenant.html" %}
                        </tbody>
                    </table>
                </div>

                {% include "tenant/paths/_paginate.html" %}
            </div>
        </div>

        <div class="modal fade" data-bs-backdrop="static" id="createTenantModal">
            <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Enregistrer un locataire</h5>
                        <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        <div class="nav nav-pills nav-justified nav-wizard" role="tablist">
                            <div :class="{ active: currentStep === 1 }" class="nav-item nav-link p-3">
                                <div class="wizard-step-icon">1</div>
                                <div class="wizard-step-text">
                                    <div class="modal-title wizard-step-text-name fw-700">
                                        Propriétaire
                                    </div>
                                    <small class="wizard-step-text-details">Informations sur le propriétaire</small>
                                </div>
                            </div>

                            <div :class="{ active: currentStep === 2 }" class="nav-item nav-link p-3" id="wizard2-tab">
                                <div class="wizard-step-icon">2</div>
                                <div class="wizard-step-text">
                                    <div class="modal-title wizard-step-text-name fw-700">
                                        Propriété
                                    </div>
                                    <small class="wizard-step-text-details">Informations sur la propriété</small>
                                </div>
                            </div>

                            <div :class="{ active: currentStep === 3 }" class="nav-item nav-link p-3" id="wizard2-tab">
                                <div class="wizard-step-icon">3</div>
                                <div class="wizard-step-text">
                                    <div class="modal-title wizard-step-text-name fw-700">
                                       Locataire
                                    </div>
                                    <small class="wizard-step-text-details">Informations sur le locataire</small>
                                </div>
                            </div>
                        </div>

                        <hr class="my-3">

                        {% include "tenant/paths/_tenant_register.html" %}
                    </div>

                    <div class="row modal-footer justify-content-center">
                        <div class="col-12">
                            <div class="d-flex justify-content-between">
                                <button :class="{ disabled: currentStep === 1 }" @click="prevStep" class="btn btn-light shadow-none" type="button">Précédent</button>
                                <button v-if="currentStep < 3" @click="nextStep" class="btn btn-primary shadow-none" type="button">Suivant</button>
                                <button v-if="currentStep === 3" @click="onCreateTenant" class="btn btn-success shadow-none" type="submit">Valider</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </button>
{% endblock dashboard_content %}

{% block other_js_src %}
    {{ super() }}
    <script src="{{ url_for('static', filename="js/app/tenant.js") }}"></script>
{% endblock other_js_src %}
